
<!-- Header -->
<header class="header">
    <div class="header-fixed">
        <nav class="navbar navbar-expand-lg header-nav">
            <div class="navbar-header">
                <a id="mobile_btn" href="javascript:void(0);">
                    <span class="bar-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </a>
                <a href="index.html" class="navbar-brand logo">
                    Mentorment
                </a>
            </div>
            <div class="main-menu-wrapper">
                <div class="menu-header">
                    <a href="/Home/Index" class="menu-logo">
                        Mentorment
                    </a>
                    <a id="menu_close" class="menu-close" href="javascript:void(0);">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
                <ul class="main-nav">
                    <li>
                        <a href="/Home/Index">Home</a>
                    </li>
                    <li>
                        <a href="#">About Us</a>
                    </li>
                    <li class="has-submenu active">
                        <a href="#">Find A Mentor <i class="fas fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li class="has-submenu">
                                <a href="javaScript: void(0)">Technical Mentors</a>
                                <ul class="submenu">
                                    <li>
                                        <a class="navbar-item" href="#">Python Mentors</a>
                                    </li>
                                    <li>
                                        <a class="navbar-item" href="#">JavaScript Mentors</a>
                                    </li>
                                    <li>
                                        <a class="navbar-item" href="#">Machine Learning</a>
                                    </li>
                                    <li>
                                        <a class="navbar-item" href="#">Cybersecurity</a>
                                    </li>
                                    <li>
                                        <a class="navbar-item" href="#">Java Mentors</a>
                                    </li>
                                    <li>
                                        <a class="navbar-item" href="#">Data Science</a>
                                    </li>
                                    <li>
                                        <a class="navbar-item" href="#">React Mentors</a>
                                    </li>
                                    <li>
                                        <a class="navbar-item" href="#">NodeJS Mentors</a>
                                    </li>
                                    <li>
                                        <a class="navbar-item" href="#">Web Development</a>
                                    </li>
                                    <li>
                                        <a class="navbar-item" href="#">Android Mentors</a>
                                    </li>
                                    <li>
                                        <a class="navbar-item" href="#">Interview Coaches</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="javaScript: void(0)">Design Mentors</a>
                                <ul class="submenu">
                                    <li>
                                        <a class="navbar-item" href="#">UX Design</a>
                                    </li>
                                    <li>
                                        <a class="navbar-item" href="#">Product Design</a>
                                    </li>
                                    <li>
                                        <a class="navbar-item" href="#">Web Design</a>
                                    </li>
                                    <li>
                                        <a class="navbar-item" href="#">Branding Experts</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Our Team</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li class="login-link">
                        <a href="login.html">Login / Signup</a>
                    </li>
                </ul>
            </div>
            <ul class="nav header-navbar-rht">
                <li class="nav-item">
                    <a class="nav-link" href="/Member/Login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link header-login" href="/Register/RegisterNewMember">Register</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- /Header -->
