@{
                /**/

                ViewBag.Title = "MemberInterest";
                Layout = "~/Views/Shared/_MemberLayout.cshtml";
}


@{
    ViewBag.Title = "MentorProfile";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

@using Mentor.BE
@model MemberInterest
<!-- Page Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <a href="javascript:void(0);" id="toggle_btn">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="collapse-tabs new-property-step">
                                <ul class="nav nav-pills py-2 px-3 mb-6 d-none d-md-flex mb-6" role="tablist">
                                    <li class="nav-item col">
                                        <a class="nav-link" id="description-tab" data-number="1." href="/Member/MemberProfileSetting" role="tab" aria-controls="profile_update" aria-selected="true"><span class="number">1.</span> Profile Update</a>
                                    </li>
                                    <li class="nav-item col">
                                        <a class="nav-link" id="education-tab" data-number="2." href="/Member/MemberEducation" role="tab" aria-controls="education" aria-selected="false"><span class="number">2.</span> Education</a>
                                    </li>
                                    <li class="nav-item col">
                                        <a class="nav-link" id="experience-tab" data-number="3." href="/Member/MemberExperience" role="tab" aria-controls="experience" aria-selected="false"><span class="number">3.</span> Experience</a>
                                    </li>
                                    <li class="nav-item col">
                                        <a class="nav-link active" id="interest-tab" data-toggle="pill" data-number="4." href="#interest" role="tab" aria-controls="interest" aria-selected="true"><span class="number">4.</span> interest</a>
                                    </li>
                                </ul>
                                <div class="tab-content border-top-1">
                                    <form>
                                        <div class="tab-pane fade active show" id="interest" role="tabpanel" aria-labelledby="interest-tab">
                                            <div class="card-body">
                                                <div class="row form-row">
                                                    <div class="col-xl-12">
                                                        <div class="table-responsive">
                                                            <table class="table table-nowrap mb-0 interest-table ">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">Category</th>
                                                                        <th scope="col">Sub Category</th>
                                                                        <th scope="col"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @if (Model != null && Model.MemberInterestList.Count()!=0)
                                                                    {
                                                                        var ICount = 1;
                                                                        foreach (var item in Model.MemberInterestList)
                                                                        {
                                                                            <tr class="interestRow" id=@("interestRowID_"+ICount)>
                                                                                <td class="align-middle">
                                                                                    @Html.DropDownListFor(o => item.MemberCategory, new SelectList(Model.MemberCategoryList, "Value", "Text", item.MemberCategory), new { @class = "form-control", @validation = "validateDDL", @id = "Category" + ICount, @onchange = "GetCategoryId(this," + ICount + ");" })
                                                                                </td>
                                                                                <td class="align-middle">
                                                                                    @Html.DropDownListFor(o => item.MemberSubCategory, new SelectList(item.MemberSubCategoryList, "Value", "Text", item.MemberSubCategory), new { @class = "form-control ", @validation = "validateDDL", @id = "SubCategory" + ICount })
                                                                                </td>
                                                                                <td class="align-middle">
                                                                                    <button href="#" class="btn btn-danger trash " id="delete@(ICount)" onclick="DeleteInterest(@ICount);"><i class="fas fa-trash-alt"></i></button>
                                                                                </td>
                                                                            </tr>
                                                                            ICount++;
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        <tr class="interestRow" id="interestRowID_1">
                                                                            <td class="align-middle">
                                                                                @Html.DropDownListFor(o => o.MemberCategory, new SelectList(Model.MemberCategoryList, "Value", "Text"), new { @class = "form-control", @validation = "validateDDL", @id = "Category1", @onchange = "GetCategoryId(this,1);" })
                                                                            </td>
                                                                            <td class="align-middle">
                                                                                @Html.DropDownListFor(o => o.MemberSubCategory, new SelectList(Model.MemberSubCategoryList, "Value", "Text"), new { @class = "form-control ", @validation = "validateDDL", @id = "SubCategory1" })
                                                                            </td>
                                                                            @*<td class="align-middle">
                                                                                <button href="#" class="btn btn-danger trash " id="delete1" onclick="DeleteInterest(1);"><i class="fas fa-trash-alt"></i></button>
                                                                            </td>*@
                                                                        </tr>

                                                                    }
                                                                </tbody>
                                                                <tfoot>
                                                                    <tr>
                                                                        <td colspan="4" class="align-middle">
                                                                            <a href="javascript:void(0);" class="add-interest"><i class="fa fa-plus-circle"></i> Add More</a>
                                                                        </td>
                                                                    </tr>
                                                                </tfoot>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <a href="/Member/MemberExperience" class="btn btn-primary">
                                                            Prev step
                                                        </a>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="submit-section text-right">
                                                            <button type="submit" class="btn btn-primary" onclick="return SubmitInterest();">Submit</button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/ProfileSetting/ExperienceValidation.js"></script>

<script>
    function GetCategoryId(val, count) {
        var id = $(val).val();
        $.ajax({
            type: "POST",
            url: '/Member/GetCategoryId',
            contentType: "application/json; charset=utf-8",
            data: '{"Id":"' + $(val).val() + '"}',
            dataType: "json",
            success: function (result) {
                $('#SubCategory' + count).empty();
                jQuery.each(result, function (index, item) {
                    $("#SubCategory" + count).append("<option value=" + item.Value + ">" + item.Text + "</option>");
                });
            },
            error: function (xhr) {
                console.log(xhr.responseText);
                alert("Error has occurred..");
            }
        });
    }

</script>
<script>
    function ValidateInterest() {
        var Validate = true;
        var ErrorHtml = "<span2 style='display: block;' title='{#Message#}' class='tooltipMain'>" +
            "<div style='margin-top: -45px; clear: both; float: right; position: relative; left: -8px;'>" +
            "<img src='/assets/images/validation_icon.png' alt='Validation' style='float: left; border: 0px; width: 12px;' /></div></span2>";

        // TextBoxses Validate
        $("select[validation='validateDDL']").each(function () {
            var Value = $(this).val();
            if (Value == "0" || Value == "-1") {
                var Msg = "Please Select";
                $(this).after(ErrorHtml.replace("{#Message#}", Msg));
                Validate = false;
            }
            else {
                $(this).nextAll('span2').remove();
            }
        });


        return Validate;
    }

    function SubmitInterest() {
        var temp = ValidateInterest();
        if (temp) {
            var interest = [];
            var table = $(".interest-table >tbody");
            table.find('tr').each(function (i) {
                var obj = {};
                var tds = $(this).find('td');
                obj.MemberCategory = tds.eq(0).find(":selected").val();
                obj.MemberSubCategory = tds.eq(1).find(":selected").val();
                interest.push(obj);
                console.log(interest);

            })
            interest = JSON.stringify({ 'interest': interest });
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '/Member/MemberInterest',
                data: interest,
                success: function () {
                    $('#result').html('"PassThings()" successfully called.');
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
        }
        return temp;
    }
    function DeleteInterest(count) {
        if (confirm('Are you sure to delete this record ?')) {
            $("#interestRowID_" + count).remove();
        } 
    }
</script>
