<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>www.mentorment.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>34.133.227.161</MSDeployServiceURL>
    <DeployIisAppPath>mentorment</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>thementorment</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ConString" Order="1" Enabled="False">
          <Destination Path="Data Source=mentorment.database.windows.net;Initial Catalog=MentorMine;Persist Security Info=True;User ID=Saa;Password=Password2021" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=mentorment.database.windows.net;Initial Catalog=MentorMine;User ID=Saa;Password=Password2021" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=mentorment.database.windows.net;Initial Catalog=MentorMine; user id=Saa; password=Password2021; MultipleActiveResultSets=true;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MentorDB" Order="2" Enabled="False">
          <Destination Path="Data Source=mentorment.database.windows.net;Initial Catalog=MentorMine;Persist Security Info=True;User ID=Saa;Password=Password2021" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=mentorment.database.windows.net;Initial Catalog=MentorMine;User ID=Saa;Password=Password2021;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MentorDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mentorment.database.windows.net;initial catalog=MentorMine;user id=Saa;password=Password2021;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ConString-Web.config Connection String">
      <ParameterValue>data source=mentorment.database.windows.net;initial catalog=MentorMine;persist security info=True;user id=Saa;password=Password2021;MultipleActiveResultSets=true</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MentorDB-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string="data source=mentorment.database.windows.net;initial catalog=MentorMine;persist security info=True;user id=Saa;password=Password2021;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>